<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.example.login">
    <uses-permission android:name="android.permission.INTERNET"/>

    <application xmlns:tools="http://schemas.android.com/tools"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="MIG Supermarket"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.Login"
        tools:replace="android:label">
        <activity
            android:name=".Vendas_Online"
            android:exported="false" />
        <activity
            android:name=".casa"
            android:exported="false" />
        <activity
            android:name=".alimentos"
            android:exported="false" />
        <activity
            android:name=".categoria"
            android:exported="false" />
        <activity
            android:name=".eletronicos_carrinho"
            android:exported="false" />
        <activity
            android:name=".finalizando_compras"
            android:exported="false" />
        <activity
            android:name=".CarrinhoJogosActivity"
            android:exported="false" />
        <activity
            android:name=".Informatica"
            android:exported="true" />
        <activity
            android:name=".MainActivity2"
            android:exported="true" />
        <activity
            android:name=".MainActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>